@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>Ao confirmar a compra você será redirecionado ao site do BRADESCO para obter o boleto.</b></p>
        </td>
    </tr>
</table>
